div {
    z-index: 10;
}

body {
    background: url("/img/geopti.jpg") no-repeat center center fixed;
    background-size: cover;
    margin:0px;
    padding: 53px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
}

.particles {
    position: fixed;
    margin:0px;
    padding:0px;
    height: 100%;
    width: 100%;
    z-index: 1;
}

nav {
    background:none;
    width:100%;
    top:0px;
    left:0px;
    position:fixed;
    z-index:999;
    color: #422;
}

.navigation {
    transition: all .2s ease-in-out;
}

.navbar {
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar > li > a {
    color: #422;
}

@media screen and (max-width:1180px) {
    .navbar > li > a > .btn {
        background: none;
    }
}

.navbar > li > a > .btn {
    cursor: pointer;
    background: linear-gradient(to right, #FFE610, #F6DA00);
    border: 2px solid rgba(80, 40, 40, 0.48);
    box-shadow: 1px 1px 4px rgba(80, 40, 40, 0.28);
    padding: 10px;
    border-radius: 4px;
    transition:all .2s ease-in-out;
    color: rgba(80, 40, 40, 0.9);
    font-weight: bold;
    font-size: 14px;
}

.navbar > li > a:hover > .btn {
    box-shadow: 2px 2px 8px rgba(80, 40, 40, 0.58);
}

.head-message {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 40px;
}

.head-message h1 {
    font-size: 48px;
    color:#FFEEEE;
    text-shadow: 0px 0px 7px rgba(18, 18, 18, 1);
}

.head-message .subtitle {
    margin-top: -15px;
    font-size: 28px;
    color:#FFFFFF;
    text-shadow: 0px 0px 7px rgba(18, 18, 18, 1);
    font-weight: normal;
}

.heading {
    position: relative;
    padding: 40px 10px 40px 10px;
    width: 100%;
    background-color: rgba(255, 248, 248, 0.40);
    margin-bottom: 60px;
}

.heading label {
    color: #422;
    text-shadow: 0px 0px 4px rgba(255, 240, 240, 0.4);
    display: block;
}

@media screen and (max-width:625px) {
    .inline-form {
        display:block;
        margin: 0px;
        padding: 0px;
        border: 0px;
    }

    input.head_contact_input[type="text"], input.head_contact_input[type="email"] {
        border-bottom: 3px solid rgba(80, 40, 40, 1);
        border-left: 0px;
        border-top: 0px;
        border-right: 0px;
        font-size: 16px;
        padding: 6px 12px 6px 12px;
        display:block;
        width: 310px;
        background: none;
    }

    button.head_contact_input {
        display: block;
        padding: 6px 12px 6px 12px;
        border: 0px;
        background: #422;
        color: white;
        font-weight: bold;
        font-size: 16px;
        box-shadow: 0px 0px 20px rgba(80, 40, 40, 0.58);
        width: 100%;
    }
}

@media screen and (min-width:626px) {
    .inline-form {
        display:inline;
        margin: 0px;
        padding: 0px;
    }

    .input_separate_left {
        border-left: 3px solid rgba(80, 40, 40, 1) !important;
    }

    input.head_contact_input[type="text"], input.head_contact_input[type="email"] {
        border-left: 0px solid rgba(80, 40, 40, 1);
        border-right: 0px;
        border-top: 0px;
        border-bottom: 0px;
        font-size: 16px;
        padding: 6px 12px 6px 12px;
        width: 180px;
        background: none;
    }

    button.head_contact_input {
        padding: 6px 12px 6px 12px;
        border: 0px;
        background: #422;
        color: white;
        font-weight: bold;
        font-size: 16px;
        width: 180px;
    }
}

.header_contact_form {
    background: rgba(255, 248, 248, 0.3);
}

.bg-nav-yellow {
    transition: all .2s ease-in-out;
    background: linear-gradient(to right, #FFE610, #F6DA00) !important;
    box-shadow: 1px 1px 3px rgba(80, 40, 40, 0.48);
}

.bg-nav-yellow .btn{
    background: #422 !important;
    color: rgba(250, 240, 240, 1) !important;
}

.content-white {
    position: relative;
    background-color: #FFFFFF;
    z-index: 100;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-transparent {
    position: relative;
    background-color: none;
    z-index: 100;
    padding-top: 50px;
    padding-bottom: 50px;
}

.product_image {
    max-width: 100%;
}

.footer {
    position: relative;
    min-height: 250px;
    color: rgba(80, 40, 40, 1);
}
.shadow {
    -webkit-filter: drop-shadow( 0px 0px 4px rgba(80, 40, 40, 0.48) );
    filter: drop-shadow( 0px 0px 4px rgba(80, 40, 40, 0.98) ); /* Same syntax as box-shadow */
}

.header_contact_form {
    border:3px solid #422;
    border-radius:4px;
    box-shadow: 0px 0px 8px rgba(80, 40, 40, 0.78);
}

.footer_contact_form {
    border:3px solid #422;
    border-radius:4px;
    background: rgba(255, 255, 255, 0.5);
}

input.contact_input[type="text"], input.contact_input[type="email"] {
    width:calc(100% - 24px);
    cursor: text;
    border-bottom: 3px solid rgba(80, 40, 40, 1);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: #422 !important;
    font-size: 16px;
    padding: 6px 12px 6px 12px;
    background: none;
}

input::-webkit-input-placeholder {
    color:    #422;
    text-shadow: 0px 0px 5px rgba(255, 240, 240, 0.5);
}
input:-moz-placeholder {
    color:    #422;
    opacity:  1;
    text-shadow: 0px 0px 5px rgba(255, 240, 240, 0.5);
}
input::-moz-placeholder {
    color:    #422;
    opacity:  1;
    text-shadow: 0px 0px 5px rgba(255, 240, 240, 0.5);
}
input:-ms-input-placeholder {
    color:    #422;
    text-shadow: 0px 0px 5px rgba(255, 240, 240, 0.5);
}

input.contact_input[type="submit"] {
    cursor: pointer;
    padding: 6px 12px 6px 12px;
    border: 0px solid rgba(255, 248, 248, 1);
    background: #422;
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 0px 20px rgba(80, 40, 40, 0.58);
    width: 180px;
}
